@import "tailwindcss";

h1, li, ul, nav{
  font-family: "Cormorant Garamond", serif;
}

body{
  background-color: #2C2C2C;
}


@theme{
  --color-tate-black: #000000;
  --color-tate-grey: #2C2C2C; 
  --color-tate-secondary-grey: #787878;
  --color-tate-platinum: #A8A8A8;
  --color-tate-white: #F5F5F5;
  --font-tate-primary: "Playfair Display", serif;
  --font-tate-secondary: "Cormorant Garamond", serif;
  
}